[submodule "themes/reveal-hugo"]
	path = themes/reveal-hugo
	url = git@github.com:dzello/reveal-hugo.git
[submodule "static/revealjs-simple-gallery"]
	path = static/revealjs-simple-gallery
	url = git@github.com:marcins/revealjs-simple-gallery.git
